<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCLocalization:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringMVCLocalization</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="LearnSpringMVCWithRealApps-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVCLocalization:war exploded" />
    </root>
  </artifact>
</component>